.layout {
  width: 100vw;
  height: 100vh;
  padding: 20px;
  display: flex;
  gap: 20px;

  &__content-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: 100vh;
    overflow: hidden;
  }

  &__content {
    flex: 1;
    overflow: auto;
  }
}
