.main {
  display: grid;
  padding: 15px;
  grid-area: 2/2/3/2;
  border: 2px solid black;
  height: 100%;
  gap: 100px;

  &__title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    height: fit-content;
  }

  &__button-container {
    display: flex;
    align-items: center;
  }

  &__button-label {
    cursor: pointer;
  }

  &__color-picker {
    width: 60px;
    background: none;
    border: none;
    cursor: pointer;
  }

  &__button {
    height: fit-content;
    border: 2px solid var(--color-theme);
    background-color: white;
    cursor: pointer;
  }
}
