@use "../../styles/media.module.scss" as *;

$headerHeight: 100px;

.header {
  display: flex;
  align-items: center;
  height: fit-content;
  font-size: 30px;
  font-weight: bold;
  gap: 20px;
  margin-bottom: 20px;

  @media #{$mobile} {
    display: block;
  }
  &__input {
    width: 80%;
    font-size: 16px;
    color: var(--color-theme);
    border: 2px solid var(--color-theme);
    background: none;
  }
}

.body {
  height: calc(100vh - $headerHeight);
}
